<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>タスク一覧表（更新）</title>
</head>
<body>
	<form th:action="@{/TotalTest/updatetable/updatetask}" method="get" id="submitTask" style="margin-bottom: 3rem;">
		<table border="1">
			<thead>
				<th>ID</th>
				<th>タスク</th>
				<th>更新</th>
			</thead>
			<tbody>
				<tr th:each="task : ${tasks}">
					<td th:text="${task.id}" id="purposeId">ID</td>
					<td th:text="${task.task}">タスク</td>
					<td><a href="#">更新</a></td>
				</tr>
				<input type="hidden" id="submitTaskId" name="submitTaskId">
			</tbody>
		</table>
	</form>
	<a th:href="@{/TotalTest/}">トップに戻る</a>
	<script th:src="@{/js/updateTable.js}"></script>
</body>
</html>
