<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>タスク更新</title>
</head>
<body>
	<form th:action="@{/TotalTest/updatetable/updatetask/update}" method="post" th:object="${taskForm}">
		タスク<input type="text" th:field="*{registerString}">
		<input type="hidden" name="submitTaskId" th:value="${fromId}">
		<input type="submit" value="登録">
		<ul th:if="${#fields.hasErrors('*')}">
			<li th:each="err:${#fields.errors('*')}" th:text="${err}"></li>
		</ul>
	</form>
	<a th:href="@{/TotalTest/}">トップに戻る</a>
</body>
</html>